<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/favicon.png" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/vendors/linericon/style.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}">
    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">


    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="js/jquery-3.2.1.min.js" th:href="@{/js/jquery-3.2.1.min.js}"></script>


    <style type="text/css">
        .accomodation_item .hotel_img img{
            width: 260px;
            height: 270px;
        }
        .seat-state{
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-size: 20px;
        }
        .input-group{
            text-align: center;
        }
        .book_now_btn {
            width: 35%;
            font-size: 16px;

            float: right;
            margin-right: 165px;
        }
        .hotel_booking_table{
            margin: 15px auto;
        }
        .role-select{
            font-size: 18px;
            color: aliceblue;
        }
        .layui-form-label {
            float: left;
            color: aliceblue;
            font-size: 20px;
            display: block;
            padding: 9px 15px;
            width: 95px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }
    </style>
</head>
<body>
<!--================Header Area =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"><img src="image/Logo.png" th:src="@{/image/Logo.png}" alt="香港粗菜馆（虹桥店）"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="index.html">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">餐厅介绍</a></li>
                    <li class="nav-item"><a class="nav-link" href="accomodation.html">特色菜品</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">餐厅环境</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">预定</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="blog.html">预定</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">购物车</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================Header Area =================-->

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="layui-container" style="width: 500px;height: 330px;margin-top: 130px;padding-top: 60px;border-radius: 15px">
                <form class="layui-form" action="/user/login.do" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-inline">
                            <input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-inline">
                            <input type="password" name="password" lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">单选框</label>
                        <div class="layui-input-block role-select">
                            <input type="radio" name="role" value="0" title="用户" checked="">
                            <input type="radio" name="role" value="1" title="管理员">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-left: 160px;">登陆</button>
                    </div>
                </form>
            </div>
            <script src="/layui/layui.js" th:src="@{/layui/layui.js}"  charset="utf-8"></script>
            <script>
                layui.use(['form'], function(){
                    var form = layui.form;

                    //自定义验证规则
                    form.verify({
                        username: function(value){
                            if(value.length == 0){
                                return '用户名不能为空';
                            }
                        }
                        ,password: [/(.+){6,12}$/, '密码必须6到12位']
                    });

                });
            </script>
        </div>
    </div>
</section>
<!--================Banner Area =================-->

<!--================ Accomodation Area  =================-->
<!--================ Accomodation Area  =================-->

<!--================ Facilities Area  =================-->
<!--================ About History Area  =================-->

<!--================ Testimonial Area  =================-->
<!--================ Testimonial Area  =================-->

<!--================ Latest Blog Area  =================-->
<!--================ Recent Area  =================-->

<!--================ start footer Area  =================-->
<footer class="footer-area section_gap" style="padding: 30px 0px;">
    <div class="container">

        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/lightbox/simpleLightbox.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>